* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

main {
    height: 100%;
    width: 600px;
    background-color: #112233;
    color: peachpuff;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    padding: 50px;
}

#overskrift {
    font-size: 42px;
}

#klikkListe {
    list-style: none;
}

#klikkListe li {
    padding: 5px;
    letter-spacing: 1px;
    user-select: none;
}