* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #112233;
    color: peachpuff;
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, sans-serif;
}
#firkant {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    background-color: darkolivegreen;
    transition: 1s; /* Boksen "flyr" til angitt posisjon */
}
h1 {
    font-size: 20px;
    padding: 20px;
}
#inpFields {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inpX, #inpY {
    height: 20px;
    width: 250px;
}