* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-color: #112233;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-auto-flow: row;
    font-family: Helvetica, sans-serif;
    color: peachpuff;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

#favorittretter {
    font-size: 2rem;
}