* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: orangered;
    font-family: Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 42px;
    line-height: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 14px;
}


article a {
    text-decoration: none;
    color: black;
}