* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #112233;
    font-family: Helvetica, sans-serif;
    color: peachpuff;
}
h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
}
p {
    font-size: 28px;
    font-weight: 400;
}
#input-container {
    margin-top: 40px;
} 
#bakgrunnsfarge, #skriftfarge, #skriftstorrelse {
    margin: 15px;
    width: 250px;
    height: 25px;
    font-size: 12px;
    text-align: center;
}